.gitignore
main.log
number_of_parameters.ipynb
*/__pycache__
*.pkl
*/.ipynb_checkpoints
.idea/
checkpoints/
debug/
data/sick
data/sst
data/lrt_bkp
treeLSTM/__old__
experiments/*/notebooks
experiments/SICK
experiments/SST
experiments/SST_nary